.single-product-block {
  .product_title {
    margin-bottom: 20px;
  }
}
.qib-container {
  margin-bottom: 40px;
}

.single_add_to_cart_button {
  font-size: 14px;
  color: #000;
  margin: 0;
  text-decoration: none;
  text-transform: capitalize;
  padding: .5em 1.5em;
  border: 1px solid #c1c1c1;
  border-radius: 5px;
  background: transparent;
  outline: none;
  -webkit-transition: .5s all;
  -moz-transition: .5s all;
  transition: .5s all;
}

.single_add_to_cart_button:hover {
  background: #3c43a4;
  color: #fff;
  border: 1px solid #3c43a4;
}
.variations tr {
  display: flex;
  align-items: center;
  .label {
    font-family: Glegoo, serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: #3c43a4;
    line-height: 1.06em;
    letter-spacing: 0em;
  }
  .value {
    display: flex;
    width: auto;
    background-color: transparent;
    border: none;
  
  }
}
.variations {
  .tawcvs-swatches {
    display: flex;
    padding: 0;
    height: 30px;
    width: 100%;
  }
  
  .tawcvs-swatches span {
    display: block;
  }
  
}
